@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700&display=swap');

*{
    font-family: 'Lato', sans-serif;
}

.bg-primary-color {
    background-color: #484F73;
}

.bg-secondary-color {
    background-color: #6D76A6;
}